<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Folder Form</title>
  </head>
  <body>
    <div class="form-container">
      <div>
        <p>Create a New Folder</p>

        <button onclick="removeFolderForm()">Cancel</button>
      </div>
      <form action="/folder" method="POST">
        <input type="text" name="name" required />
        <button type="submit">Create Folder</button>
      </form>
    </div>
  </body>
</html>
