<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo-container"><span>Logo</span></div>
      <div class="account">
        <div class="username">
          <span
            ><img
              src="<%=user.profile  %>"
              alt="user profile photo"
              width="60px"
          /></span>
          <p><%=user.username %></p>
        </div>
        <div class="manage-account">
          <span>icon</span>
          <p>Manage Account</p>
        </div>
        <div class="signout">
          <span>icon</span><a href="/logout">Sign Out</a>
        </div>
      </div>
    </header>

    <main>
      <div class="controls">
        <div class="add-folder">
          <button onclick="loadFolderForm()">Add Folder</button>
          <div id="folder-form"></div>
        </div>
        <div class="add-file">
          <button onclick="loadFileForm()">Add File</button>
          <div id="file-form"></div>
        </div>
      </div>
      <div id="main-container">
        <div id="folders"></div>
        <div id="files"></div>
      </div>
    </main>

    <script type="text/javascript" src="scripts/dashboardScripts.js"></script>
  </body>
</html>
