<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo-container"><span>Logo</span></div>
      <div class="account">
        <div class="username">
          <span>Image</span>
          <p>Name</p>
        </div>
        <div class="manage-account">Another html</div>
        <div class="signout"><span>icon</span><span>sign out</span></div>
      </div>
    </header>
    <aside>
      <div class="add-folder">
        <button onclick="loadFolderContent()">Add Folder</button>
        <div id="folder-content"></div>
      </div>
      <div class="add-file">
        <button onclick="loadFileContent()">Add File</button>
        <div id="file-content"></div>
      </div>
    </aside>
    <main>
      <div id="folders"></div>
      <div id="files"></div>
    </main>

    <script>
      async function loadFileContent() {
        try {
          const response = await fetch('/file');
          const html = await response.text();
          document.getElementById('file-content').innerHTML = html;
        } catch (error) {
          console.error('Error loading file content:', error);
          res.status(500).send('Internal Server Error');
        }
      }

      function removeFileContent() {
        document.getElementById('file-content').innerHTML = '';
      }

      async function loadFolderContent() {
        try {
          const response = await fetch('/folder');
          const html = await response.text();
          document.getElementById('folder-content').innerHTML = html;
        } catch (error) {
          console.error('Error loading folder content:', error);
          res.status(500).send('Internal Server Error');
        }
      }

      function removeFolderContent() {
        document.getElementById('folder-content').innerHTML = '';
      }

      (async function displayFolders() {
        try {
          const response = await fetch('/folder/display-folders');
          const html = await response.text();
          document.getElementById('folders').innerHTML = html;
        } catch (error) {
          console.error('Error displaying folders', error);
          res.status(500).send('Internal Server Error');
        }
      })();

      (async function displayFiles() {
        try {
          const response = await fetch('/file/display-files');
          const html = await response.text();
          document.getElementById('files').innerHTML = html;
        } catch (error) {
          console.error('Error displaying files', error);
          res.status(500).send('Internal Server Error');
        }
      })();
    </script>
  </body>
</html>
