<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles/tailwindOut.css" rel="stylesheet" />
    <title>My Drive</title>
  </head>
  <body>
    <header
      class="relative min-h-28 bg-slate-200 px-8 flex justify-between items-center"
    >
      <div class="flex justify-center items-center gap-1.5 cursor-pointer">
        <span>
          <img class="w-8" src="logo.png" alt="site logo" />
        </span>
        <span class="text-3xl text-blue-600 font-semibold">My Drive</span>
      </div>

      <div class="profile-container">
        <div
          class="username-icon flex justify-center items-center flex-col cursor-pointer"
        >
          <img
            src="user.png"
            alt="user profile photo"
            class="w-11 p-2 shadow-black shadow rounded"
          />
          <p class="text-stone-950">Profile</p>
        </div>
      </div>
      <div class="profile-detail hidden">
        <%- include("partials/profile.ejs") %>
      </div>
    </header>

    <main>
      <div class="controls flex justify-between items-center px-10 py-6">
        <div class="flex justify-normal items-center gap-2">
          <span
            ><img class="w-8" src="folder.png" alt="image of a folder"
          /></span>
          <p class="text-xl font-semibold">My Drive</p>
        </div>
        <div class="add-btns flex justify-center items-center gap-6">
          <div class="add-folder">
            <button
              onclick="loadFolderForm()"
              class="flex justify-center items-end gap-1"
            >
              <img
                src="new-document.png"
                alt="photo of a folder"
                class="w-6"
              /><span class="text-sm">Add Folder</span>
            </button>
            <div id="folder-form"></div>
          </div>
          <div class="add-file">
            <button
              onclick="loadFileForm()"
              class="flex justify-center items-end gap-1"
            >
              <img
                src="upload.png"
                class="w-6"
                alt="photo of upload icon"
              /><span class="text-sm">Add File</span>
            </button>
            <div id="file-form"></div>
          </div>
        </div>
      </div>
      <div id="main-container" class="px-8">
        <div id="folders"></div>
        <div id="files"></div>
      </div>
    </main>

    <script type="text/javascript" src="scripts/dashboardScripts.js"></script>
  </body>
</html>
