<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/tailwind.css" />
    <title>Document</title>
  </head>
  <body>
    <ul class="list-none p-0 m-0">
      <% files.forEach(file => { %> <% if (file.folderId === null) { %>
      <li class="mb-4">
        <div
          class="file px-8 py-4 bg-gray-200 border-b border-gray-800 shadow hover:bg-gray-100 cursor-pointer relative"
        >
          <div class="flex items-center gap-2">
            <img src="files.png" alt="file icon" class="w-6 h-6" />
            <p class="font-normal text-lg"><%= file.name %></p>
          </div>

          <div class="absolute top-4 right-4 flex space-x-2">
            <a
              href="<%= file.name %>"
              download
              class="px-3 py-1 bg-white rounded hover:bg-slate-100 border shadow shadow-gray-200"
            >
              <img src="downloads.png" alt="download icon" class="w-6 h-6" />
            </a>

            <button
              class="px-3 py-1 bg-white rounded hover:bg-slate-100 border shadow shadow-gray-200"
              onclick="loadFileFormUpdate(<%= file.id %>)"
            >
              <img src="pen.png" alt="update icon" class="w-6 h-6" />
            </button>

            <a
              href="/file/delete-file/<%= file.id %>"
              class="px-3 py-1 bg-white rounded hover:bg-slate-100 border shadow shadow-gray-200"
              onclick="event.stopPropagation();"
            >
              <img src="delete.png" alt="delete icon" class="w-6 h-6" />
            </a>
          </div>
        </div>
      </li>
      <% } %> <% }); %>
    </ul>
  </body>
</html>
