<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload Form</title>
  </head>
  <body>
    <div class="form-container">
      <div>
        <p>Upload File To Drive</p>
        <button onclick="removeFileForm()">Cancel</button>
      </div>
      <form
        id="uploadForm"
        action="/file"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="file-input" id="fileInput" required />
        <input type="hidden" id="folderId" name="folderId" />
        <button type="submit">Upload File</button>
      </form>
    </div>
    <script
      type="text/javascript"
      src="scripts/file-upload-form-scripts.js"
    ></script>
  </body>
</html>
