<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% folders.forEach(folder => { %>
      <li>
        <div class="folder">
          <p onclick="loadFolderContents(<%= folder.id %>)">
            <%- folder.name %>
          </p>

          <button onclick="loadFolderFormUpdate(<%= folder.id %>)">
            Update Folder
          </button>

          <a href="/folder/delete-folder/<%= folder.id %>">Delete Folder</a>
        </div>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
