<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/tailwindOut.css" />
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST">
      <div class="container">
        <label for="username">Username</label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required
        />

        <label for="password">Password</label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
