<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Folder</title>
  </head>
  <body>
    <h1>Access Link</h1>

    <a href="<%=link %>"><%=link %></a>
  </body>
</html>
