<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload Form</title>
  </head>
  <body>
    <div class="form-container">
      <div>
        <p>Upload File To Drive</p>

        <button onclick="removeFileContent()">Cancel</button>
      </div>
      <form action="">
        <input type="file" name="file-input" required />
        <button type="submit">Upload File</button>
      </form>
    </div>
  </body>
</html>
